# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
.vscode/
*.dbmdl
*.log
*.DS_Store
*.env
*.sqlite
*.mdf
*.ldf
*.pdb
*.cache
*.TestResults/
*.coverage
*.ncrunch*
*.localhistory/
*.idea/
*.vsconfig

# Entity Framework
Migrations/


# Configuración sensible
Handler/appsettings.json
Handler/appsettings.Development.json
Worker/appsettings.json
Worker/appsettings.Development.json
Worker/appsettings.cola_*.json

# Otros
Thumbs.db
